<div class="contentSpacing">
  <div class="jumbotron my-5">
    <div class="row">
      <div class="col-md-5">
        <img src="../../../assets/democracia.jpe" alt="Democracy" class="imgDemocracy">
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-10">
            <h1 class="display-5 text-center">Welcome!</h1>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead presentation">Agora is project that aims to create a non-official direct democratic virtual system, where people can vote for laws with no political party affiliation, so that what really counts is the idea and there is not any kind of political bias when making decisions and therefore there's a way to know what the public opinion really is and compare results with reality.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="row" *ngIf="!isAuthenticated()">
      <div class="col-md-12">
          <p class="lead pleaseLogin ml-5"  >Please register/login to participate!</p>
      </div>
    </div>
</div>
</div>
