<div class="container ">
  <div class="row contentSpacing">
    <div class="col-md-12">

    </div>
  </div>
<div class="contentSpacing" *ngFor="let project of projects">
  <div class="row"  >
    <div class="col-md-10">
      <div class="list-group">
        <a  class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <small>{{project.publishedAt}}</small>
          </div>
          <small>Project Description:</small>
          <p class="mb-1">{{project.extract}}</p>
          <div class="row">
            <div class="col-md-4">
              <small>Fecha: {{project.day }}/{{project.month }}/{{project.year }}</small>
            </div>
            <div class="col-md-4">
              <small>Votos:</small>
              <br>
              <small>Favor: {{project.favor}}</small>
              <br>
              <small>Against: {{project.against}}</small>
            </div>
            <div class="col-md-4">
              <small>Id: {{project._id }}</small>

              <br>
              <small>CaseFile: {{project.caseFile}}</small>
              <br>
              <small>StartedAt: {{project.startedAt}}</small>
            </div>
          </div>


        </a>
      </div>
    </div>
    <div class="col-md-2">

          <button type="button" [routerLink]="['/project',project._id]" class="btn my-1 btn-outline-primary btn-block">Vote</button>

    </div>
  </div>
</div>
<div class="contentSpacing" *ngIf="errorStatus404">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Projects Not Found</h4>
    <p>Error 404-Not Found</p>
    <hr>
  </div>
</div>
</div>
