<div class="container contentSpacing">
  <div class="row" *ngIf="isAuthenticated()">

      <div class="col-md-2">
      </div>
      <div class="col-md-8">
       <a  class="list-group-item list-group-item-action flex-column align-items-start">
        <h4 class="text-center">Your Profile</h4>
        <hr>
        <br>
        <ul>
          <li><p>Name </p><p></p></li>
          <li><p>Middle Name </p><p></p></li>
          <li><p>Last Name </p><p></p></li>
          <li>Email:<p></p><p></p></li>
          <li>Id <p></p><p></p></li>
        </ul>

        <button class="btn btn-outline-info ml-3" (click)="toMyVotes()">Ver mis Votos</button>
      </a>
      </div>

    <div class="col-md-2">
    </div>
  </div>
  <div class="row my-5" *ngIf="!isAuthenticated()">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-danger text-center">Please Login!</h4>
        <p>You are trying to access to restricted data.</p>
      </div>
    </div>
  </div>
<div>
