<div class="contentSpacing">
  <div class="row" *ngIf="project!=null">
    <div class="col-md-10">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <small>{{project.publishedAt }}</small>
          </div>
          <small>Project Description:</small>
          <p class="mb-1">{{project.extract }}</p>
          <div class="row">
            <div class="col-md-4">
              <small>Fecha: {{project.day }}/{{project.month }}/{{project.year }}</small>
            </div>
            <div class="col-md-4">
              <small>Votos:</small>
              <br>
              <small>Favor: {{project.favor}}</small>
              <br>
              <small>Against: {{project.against}}</small>
            </div>
            <div class="col-md-4">
              <small>Id: {{project._id }}</small>

              <br>
              <small>CaseFile: {{project.caseFile}}</small>
              <br>
              <small>StartedAt: {{project.startedAt}}</small>
            </div>
          </div>


        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
          <button type="button" class="btn my-2 btn-outline-success btn-block">Favor</button>
      </div>
      <div class="row">
        <button type="button" class="btn my-2 btn-outline-danger btn-block">Against</button>
      </div>
    </div>
  </div>
<div *ngIf="errorStatus404">
  <div class="alert alert-danger" role="alert">
    Project Not Found!
  </div>
</div>



</div>
